/*header code*/
.logo {
	display: inline-block;
	margin-left: 18px;
	margin-top: 20px;
	margin-right: 92px;
    margin-bottom: 18px;
    size: 13px;
    color: red;}
.navigation {
	display: inline-block;}
.nav-li {
	display: inline-block;
	margin-right: 22px;
    size: 11px;}
.header-wraper {
	 background-color: #F6F8F9;
	 padding: 15px;
	 position: fixed;
	 top: o;
	 left: 0;
	 width: 100%;
	 z-index: 100;}
.nav-image {
	margin-left: 40px;
	margin-top: 11px;}
/*section1 code*/

.section1 {
	padding-top: 109px;
}

.header-h {
	margin-left: 140px;
}	
.head-div {
	font-family: 'Playfair Display', serif;
	font-size: 13px;}
.right-div {
	display: inline-block;
	margin-top: 40px;
	margin-left: 140px;
	position: relative;
    background-color: #EBEDED}	
.right-h2 {
	position: absolute;
	top: 28px;
	left: 40px;
	font-size: 16px;
	color: #FFFFFF;}
.right-p {
	font-size: 13px;
	margin-top: 66px;
	margin-left: 40px;
	width: 280px;}
.right-image {
	margin-left: 40px;
	margin-top: 10px;
    margin-bottom: 40px;}
.central-div {
	display: inline-block;
	position: relative;
	margin-left: 40px;
    background-color: #EBEDED}
.central-h2 {
	position: absolute;
	top: 28px;
	left: 40px;
	font-size: 16px;
	color: #FFFFFF;}
.central-p {
	margin-left: 40px;
	width: 280px;
	margin-top: 66px;
	font-size: 13px;}
.central-image {
	margin-left: 40px;
	margin-top: 10px;
	margin-bottom: 40px;}
.left-div {
	display: inline-block;
	position: relative;
    background-color: #EBEDED;
    margin-left: 40px;}
.left-h2 { 
    position: absolute;
    top: 28px;
    left: 40px;
    font-size: 16px;
    color: #FFFFFF;}
.left-p {
	margin-left: 40px;
	margin-top: 66px;
	width: 280px;
	font-size: 13px;}
.left-image {
	margin-left: 40px;
	margin-top: 10px;
	margin-bottom: 40px;}
/*section2 code*/
.section2-h {
	margin-left: 140px;
	margin-top: 58px;
}
.div-left {
	display: inline-block;
	position: relative;
    margin-top: 58px;
    margin-left: 140px;
    width: 760px;
    background-color: #EBEDED;}
.div2-p {
	position: absolute;
	top: 234px;
	left: 300px;
	font-size: 16px;
	color: #FFFFFF;
}
.image4 {
	margin-top: 40px;
}
.div-right {
	display: inline-block;
    width: 360px;
    margin-left: 40px;
    background-color: #EBEDED;
    margin-right: 140px;
    ont-family: 'Playfair Display', serif;}
.image5 {
	padding-bottom: 102px;
}
.image6 {
	padding-bottom: 102px;
}
.image7 {
	padding-bottom: 103px;
}
.logo1 {
	display: inline-block;
	margin-left: 142px;
	margin-top: 58px;
    vertical-align: top;
    color: white;}
.footer-div {
	width: 100%;
	background-color: #A6ADB4;
	margin-top: 37px;
	height: 200px;
    color: white;
    font-size: 13px;}
.right-divfooter {
	display: inline-block;
}
.footer-ul1 {
	display: inline-block;
	margin-left: 89px;
	margin-top: 56px;
    width: 37px;}
.footer-li1 {
	padding-bottom: 8px;}
.central-footer {
	display: inline-block;
	padding-left: 96.7px;}
.left-footer {
	display: inline-block;
	margin-left: 110.2px;
}
.centralfoter-div {
	display: inline-block;
    padding-left: 104px;
    padding-top: 62px;
    vertical-align: top;}
.footer-left {
	display: inline-block;
	padding-left: 165.2px;
	vertical-align: top;
	margin-top: 56px;
}