/*header code*/
.logo {
	display: inline-block;
	margin-left: 18px;
	margin-top: 20px;
	margin-right: 150px;
    margin-bottom: 18px;
    size: 13px;}
.navigation {
	display: inline-block;}
.nav-li {
	display: inline-block;
	margin-right: 22px;
    size: 11px;}
.header-wraper {
	 background-color: #F6F8F9;
	 padding: 15px;
	 position: fixed;
	 top: o;
	 left: 0;
	 width: 100%;}
.nav-image {
	margin-left: 40px;
	margin-top: 11px;}
.section1 {
	padding: 109px;}
.header-h {
	margin-left: 120px;
}	
.head-div {
	font-family: 'Playfair Display', serif;
	font-size: 13px;}
.right-div {
	display: inline-block;
	margin-top: 40px;
	margin-left: 120px;
	position: relative;
    background-color: #EBEDED}	
.right-h2 {
	position: absolute;
	top: 28px;
	left: 40px;
	font-size: 16px;
	color: #FFFFFF;}
.right-p {
	font-size: 13px;
	margin-top: 66px;
	margin-left: 40px;
	width: 280px;}
.right-image {
	margin-left: 40px;
	margin-top: 10px;
    margin-bottom: 40px;}
.central-div {
	display: inline-block;
	position: relative;
	margin-left: 40px;
    background-color: #EBEDED}
.central-h2 {
	position: absolute;
	top: 28px;
	left: 40px;
	font-size: 16px;
	color: #FFFFFF;}
.central-p {
	margin-left: 40px;
	width: 280px;
	margin-top: 66px;
	font-size: 13px;}
.central-image {
	margin-left: 40px;
	margin-top: 10px;
	margin-bottom: 40px;}
.left-div {
	display: inline-block;
	position: relative;
    background-color: #EBEDED;
    margin-left: 40px;}
.left-h2 { 
    position: absolute;
    top: 28px;
    left: 40px;
    font-size: 16px;
    color: #FFFFFF;}
.left-p {
	margin-left: 40px;
	margin-top: 66px;
	width: 280px;
	font-size: 13px;}
.left-image {
	margin-left: 40px;
	margin-top: 10px;
	margin-bottom: 40px;}
.section2-h {
	margin-left: 120px;
	margin-top: 58px;
}
.div-left {
	display: inline-block;
	position: relative;
    margin-left: 120px;
    margin-top: 58px;}
.div2-p {
	position: absolute;
	top: 234px;
	left: 448px;
	font-size: 16px;
	color: #FFFFFF;
}
.image4 {
	margin-top: 40px;
}
.div-right {
	display: inline-block;
}


}
